*{
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}
/* section no:01 */
#section1{
background-color: rgb(255, 248, 243);
}
#navbar{
display: flex;
justify-content: space-between;

}
.editmary{
Font-weight: 800;
Font-size: 45px;
text-align: left;
margin-left: 300px;
}
.editr{
color: rgb(253, 110, 10);

}
.editr:hover{
color: blue;
}
.blog{
Font-weight: 400;
Font-size: 20px;
color: rgb(71, 71, 71);
text-align: left;
/* margin-top: 20px; */
}
.blog1{
Font-weight: 700;
Font-size: 20px;
color: rgb(255, 255, 255);
background-color: rgb(253, 110, 10);
border-radius: 5px;
border: none;
padding: 18px 36px;

}
.blogflex{
display: flex;
align-items: center;
gap: 50px;
margin-right: 200px;
/* margin-top: 50px; */
}
/* banner */
.banner{
display: flex;
justify-content: space-between;
}
.bannerpara1{
Font-weight: 600;
Font-size: 45px;
color: rgb(71, 71, 71);
}
.bannerh1{
Font-weight: 700;
Font-size: 85px;
color: rgb(24, 24, 24);

}
.bannerpara2{
Font-weight: 400;
Font-size: 18px;
color:rgb(117, 117, 117) ;
}
.bannerbtn{
color: rgb(255, 255, 255);
Font-weight: 700;
Font-size: 20px;
background-color: rgb(253, 110, 10);
padding: 18px;
border: none;
border-radius: 5px;
}
.bannerbtn1{
color: rgb(253, 110, 10);
Font-weight: 700;
Font-size: 20px;
margin-left: 20px;
border: 2px solid  rgb(253, 110, 10);
background-color: rgb(255, 248, 243);
padding: 18px;
border-radius: 5px;
}
.bannerdevo{
margin-right: 70px;
margin-top: -130px;
margin-left: 50px;
}
.bannerimg{
background-image:url(images/header_bg.png) ;
background-repeat: no-repeat;
background-size: cover;
background-position:bottom left;

}
.bannerwritting{
width: 585px;
}
/* section no:02 */
#section2{
width: 1120px;
height: 550px;
background-color: rgb(255, 248, 243);
margin: 96px 230px;
display: flex;
justify-content: center;
align-items: center;
}
.about{
width: 827px;
height:288px ;
background-color: rgb(255, 255, 255);

}
.abouth1{
text-align:center ;
font-weight: 700;
font-size: 35px;
color: rgb(24, 24, 24);
}
.aboutpara{
color:rgb(117, 117, 117) ;
font-weight: 400;
font-size: 18px;
text-align:center ;

}
.items{
display: flex;
justify-content: space-around;
}
.item1{
color: rgb(117, 117, 117);
font-weight: 300;
font-size: 15px;
padding-left: 30px;

}
.item2{
color: rgb(117, 117, 117);
font-weight: 600;
font-size: 23px;

}
/* section no:03 */


.whath1{
text-align: center;
font-weight: 700;
font-size:35px ;
color: rgb(24, 24, 24);
}
.whattaitle{
width: 909px;
font-weight: 400;
font-size:18px ;
color:  rgb(117, 117, 117);
margin-left: 350px;
}
.what-div-father{
/* background-color: #D1D1D1; */
width: 1164px;
display: flex;
justify-content:space-around;
margin-top: 100px;
margin-left: 250px;

}
.what-div1{
width: 204px;

}
.what-div1h4{
/* text-align: center; */
font-weight: 700;
font-size:18px ;
color: rgb(24, 24, 24);
}
.what-div1p{
/* text-align: center; */
font-weight: 400;
font-size:16px ;
color:rgb(117, 117, 117) ;

}
 /* section no:04 */
.Resume-all{
display: flex;
max-width: 1200px;
margin-left: 300px;
margin-top: 50px;



}
.sec4h1{
color: rgb(24, 24, 24);
text-align: center;
font-weight: 700;
font-size:35px ;
margin-top: 100px;

}
.eduh4{
color: rgb(71, 71, 71);
font-weight: 700;
font-size:25px ;
}
.edutitle{
color: rgb(117, 117, 117);
font-weight: 600;
font-size:20px ;
}
.edupara{
font-weight: 400;
font-size:16px ;
color: rgb(117, 117, 117);

}
.sec4btn{
color: rgb(255, 255, 255);
font-weight: 700;
font-size:20px;
background-color: rgb(253, 110, 10);
padding:10px ;
border-radius: 5px;
border: none;
}
.sec4btn:hover{
background-color: powderblue;
color: black;
}

.sec4btn-center{
margin-top: 50px;
text-align: center;
}
/* section no:05*/
